* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 90%;
  min-width: 500px;
  margin: 0 auto;
}
header {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 2;
}
.header_all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header_all .header_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_icon img {
  width: 180px;
}
.header_title ul {
  display: flex;
  list-style: none;
  /* margin-right: 30px; */
}
.header_title li {
  padding: 55px 15px;
}
.header_title a {
  text-decoration: none;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 500;
  color: black;
  transition: 0.5s;
}
.header_title span {
  display: inline-block;
}
.header_title button {
  margin-left: 40px;
  font-size: 15px;
  font-weight: 400;
  padding: 20px 35px;
  border-radius: 30px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: white;
  border: none;
}

.header_title a:hover {
  color: #f44f8d;
}
.header_title a:hover span {
  animation: upToDown 0.3s;
}
/* starts carousel */
.Carousel {
  background-image: url(../Img/pic2.png);

  background-position: top;
  background-size: 100%;
  padding-top: 180px;
}
.carousel_content {
  display: flex;
  /* margin-left: 5%; */
  align-items: center;
}
.carousel_left {
  width: 60%;
}
.left_title h3 {
  font-weight: 500;
  font-size: 22px;
  color: #f55f8d;
  margin-bottom: 20px;
}
.left_title h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 10px;
}
.left_bottom {
  color: #636363;
}
.left_bottom p {
  margin-bottom: 15px;
  font-size: 18px;
}
.left_bottom ul {
  list-style: none;
}
.left_bottom li {
  font-size: 20px;
  padding: 10px 5px 10px 0px;
}
.left_bottom i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  margin-bottom: 20px;
  border-radius: 50%;
  color: white;
  margin-right: 10px;
  font-size: 24px;
}
.btn_all {
  padding: 20px 35px;
  font-size: 15px;
  color: white;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  border-radius: 30px;
  border: none;
  background-size: 200%;
  cursor: pointer;
}
.carousel_right {
  width: 40%;
}
.carousel_right .right_banner {
  width: 540px;
  margin-left: 30px;
}

/* animation */
@keyframes upToDown {
  45% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  55% {
    opacity: 1;
  }
}
/* start services */
.services {
  padding: 50px 0;
}
.services_title {
  text-align: center;
  padding: 30px 0;
  margin-bottom: 20px;
}
.services_title p {
  color: #f55f8d;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 30px;
}
.services_title h1 {
  font-size: 70px;
  font-weight: 700;
  color: #262626;
  margin-bottom: 20px;
}
.service_contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}
.service_contact .service_item {
  width: 31%;
  text-align: center;
  padding: 30px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  border-radius: 8px;
}
.service_contact img {
  width: 80%;
  height: 50%;
}
.service_contact h3 {
  padding: 15px;
  font-size: 25px;
  font-weight: 500;
}
.service_contact p {
  color: #636377;
}
.service_contact .service_item:hover {
  transform: translateY(-20px);
}
/* start aboutus */

.us_contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.us_left {
  width: 60%;
  /* position: absolute;
  left: 17%; */
}
.us_left img {
  width: 115%;
  border-radius: 0 100px 100px 0;
  margin-left: -180px;
  /* width: 100%; */
}
.us_right {
  width: 45%;
}
.aboutus .us_right p:first-of-type {
  color: #f55f8d;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}
.aboutus .us_right h2 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 2 0px;
}
.aboutus .us_right p:last-of-type {
  font-size: 15px;
  color: #262626;
  margin-bottom: 15px;
}
.us_right i {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #f564ab;
  color: #f564ab;
  text-align: center;
  line-height: 25px;
}
.us_right li {
  list-style: none;
  margin-bottom: 10px;
}
.btn_us {
  margin-top: 10px;
}

.animate__fadeInRight {
  --animate-duration: 2s;
}
.animate__fadeInLeft {
  --animate-duration: 2s;
}
/* start number */
.number {
  background-image: url(../Img/bg14.png);
  background-repeat: no-repeat;
  padding: 80px 80px 50px 0px;
  background-position: center;
  margin-top: 80px;
}
.number_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.number_item {
  width: 25%;
}
.number_item i {
  width: 80px;
  height: 80px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 50%;
  color: white;
  font-size: 40px;
  line-height: 80px;
  margin-bottom: 20px;
}
.number_item p:first-of-type {
  font-size: 65px;
  color: #f55f8d;
  font-weight: 700;
}
.number_item p:last-of-type {
  color: #262626;
  font-size: 18px;
}
/* start features */
.features_container {
  display: flex;
  align-items: center;
}
.features_left {
  width: 50%;
  margin: 100px 0px;
}
.features_contact p {
  color: #f44f8d;
  font-size: 20px;
  font-weight: 500;
}
.features_contact h2 {
  font-size: 70px;
  font-weight: 700;
  color: #262626;
  line-height: 1.1;
  margin: 30px 0px;
}
.features_item {
  /* width: 50%; */
  padding: 30px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  background-color: white;
  transition: 1s;
  color: black;
  margin: 30px 0px;
}
.features_item2 {
  margin-left: 50px;
}
.features_item i {
  font-size: 80px;
  color: #f55f8d;
  transition: 1s;
}
.features_bg {
  margin-left: 50px;
  transition: 1s;
}
.features_item:hover {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  color: white;
}
.features_item:hover i {
  color: white;
}
.features_right {
  width: 50%;
}
.features_right img {
  width: 100%;
  margin-left: 11%;
  animation: move2 5s infinite;
}
@keyframes move2 {
  0% {
    transform: rotate(2deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-2deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(2deg) translate(2px, 2px);
  }
}
/* start portfolio */
.portfolio_title {
  text-align: center;
}
.portfolio_title p {
  color: #f55f8d;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}
.portfolio_title h2 {
  font-size: 70px;
  font-weight: 700;
  margin: 20px 0;
}
.portfolio_banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
}
.portfolio_item {
  /* width: 100%; */
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
.portfolio_overlay {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.4); */
  /* opacity: 0;
  transition: 0.7s; */
}
/* .portfolio_item img {
  border-radius: 16px;
} */
.portfolio_item1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.portfolio_item2 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.portfolio_item5 {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}
.portfolio_item6 {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}
.portfolio_item img {
  width: 100%;
  height: 100%;
  display: block;
}
.overlay_icon {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: white;
  border-radius: 8px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  transform: translate(0px, 0px);
  opacity: 0;
  transition: 0.5s;
}

.overlay_title {
  position: absolute;
  bottom: 20px;
  left: 15px;
  color: white;
  transform: translate(0px, 0px);
  opacity: 0;
  transition: 0.5s;
}
.overlay_title h3 {
  font-size: 22px;
  font-weight: 700;
}
.overlay_title p {
  opacity: 0.7;
}
/* .portfolio_overlay:hover {
  transform: translate(100%, 100%);
} */
.portfolio_item:hover .overlay_icon {
  transform: translate(-20px, 20px);
  opacity: 1;
}
.portfolio_item:hover .overlay_title {
  transform: translate(0px, -20px);
  opacity: 1;
}
/* start plan */
.plan {
  background-image: url(../Img/bg16.png);
  background-size: cover;
  background-position: center;
}
.plan_title {
  margin-top: 40px;
  padding: 40px 0 20px 0;
  text-align: center;
}
.plan_title p {
  color: #f55f8d;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}
.plan_title h2 {
  font-weight: 700;
  font-size: 70px;
}
.plan_contact {
  display: flex;
  justify-content: space-between;
}
.plan_item {
  width: 30%;
  text-align: center;
  align-items: center;
  width: 90%;
  margin: 0 30px;
  margin-left: 20px;
  padding: 20px 30px;
  background-color: white;
  box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
  border: 3px solid transparent;
  border-image: 100 round;
  transition: 0.5s;
}
.item_top {
  text-align: center;
  align-items: center;
}
.item_top p:first-of-type {
  font-size: 30px;
  font-weight: 700;
}
.item_top img {
  width: 50%;
  height: 50%;
  padding: 25px;
}
.item_top p:last-of-type {
  color: #262626;
  font-weight: 700;
  font-size: 18px;
}
.item_top span {
  font-size: 50px;
  font-weight: 700;
  color: #f8ae56;
}
.item_bottom {
  padding: 10px;
}
.item_bottom ul {
  /* display: flex; */
  list-style: none;
  margin: 20px 0;
  text-align: left;
  border-top: 1px solid #e1e1f0;
}
.item_bottom li {
  display: flex;
  margin: 10px 0;
  text-align: center;
}
.item_bottom i {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #feeff3;
  background-size: 200%;
  line-height: 25px;
  color: #f55f8d;
  margin-right: 15px;
}
.item_bottom p {
  font-size: 20px;
}
.plan_contact .plan_item:hover {
  border-image: url(../Img/br.png) 1 round;
}
/* START BLOG */
.blog {
  background-image: url(../Img/bg16.png);
  background-size: cover;
  background-position: center;
}
.blog_title {
  padding: 50px 0px 30px 0px;
  text-align: center;
}
.blog_title p {
  color: #f55f8d;
  font-size: 22px;
  font-weight: 700;
}
.blog_title h2 {
  font-size: 70px;
  font-weight: 700;
}
.blog .blog_contact {
  display: flex;
  justify-content: space-between;
}
.blog .blog_item {
  width: 31%;
  background-color: #feeff3;
  border-radius: 8px;
}
.blog_header {
  position: relative;
}
.blog_header img {
  width: 100%;
  border-radius: 8px;
}
.blog_header p {
  width: 40%;
  text-align: center;
  color: white;
  padding: 10px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 8px;
  position: absolute;
  bottom: -15px;
  left: 15px;
}
.blog_body {
  margin-top: 30px;
}
.blog_body h2 {
  color: #262626;
}
.blog_body p {
  color: #636363;
  margin-bottom: 30px;
}
.blog_footer {
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.075);
  font-size: 15px;
}
.blog_footer i {
  color: #f44f8d;
}
.blog_footer span {
  color: #f44f8d;
}
.blog_footer2 {
  margin-left: 15px;
}
/* start footer */
footer {
  margin-top: 50px;
  background-image: url(../Img/bg17.png);
  background-size: cover;
  background-position: center;
  background-color: #0e1b1f;
  background-repeat: no-repeat;
  position: relative;
}
footer::before {
  content: "";
  background-image: url(../Img/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  text-align: center;
  background-image: url(../Img/pattern3.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
}
.footer_top .top_new {
  width: 60%;
}
.footer_top .top_address {
  width: 80%;
  /* align-items: center; */
  padding: 20px;
}
.top_new {
  text-align: left;
  font-size: 30px;
  font-weight: 700;
  color: #262626;
}
.top_address {
  padding: 20px;
}
.top_address input {
  width: 80%;
  height: 100%;
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 500;
  background: white;

  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  border: 1px solid white;
  border-radius: 8px;
  transition: 0.3s;
}
.btn_footer {
  border-radius: 0px 8px 8px 0px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: 1s;
  margin-left: -20px;
}

.top_address input:hover {
  border-color: #f55f8d;
}
.btn_footer:hover {
  background-position: right center;
}
.footer_bottom {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.bottom_samar {
  width: 25%;
}
.bottom_samar img {
  margin-bottom: 15px;
  /* background-color: white; */
}
.bottom_samar li {
  list-style: none;
  display: flex;
  margin-bottom: 15px;
}
.bottom_samar i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  color: white;
  font-size: 15px;
}
.bottom_samar p {
  margin-left: 10px;
  color: white;
}
.bottom_link {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.link_item {
  width: 33%;
}
.link_item h3 {
  color: white;
  margin-bottom: 30px;
  padding-bottom: 10px;
  position: relative;
  font-size: 22px;
}
.link_item h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 15px;
  height: 4px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  border-radius: 20px;
  background-size: 200%;
}
.link_item h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 20px;
  width: 25px;
  height: 4px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  border-radius: 20px;
  background-size: 200%;
}
.link_item ul {
  list-style: none;
}
.link_item li {
  padding: 10px;
}
.link_item a {
  text-decoration: none;
  color: #636363;
  font-size: 16px;
  transition: 0.5s;
}
.link_item a:hover {
  color: white;
}
.footer_copy {
  background-color: #1f343b;
  padding: 10px;
}
.footer_content {
  display: flex;
  justify-content: space-between;
}
.footer_left {
  color: white;
}
.footer_left span {
  color: #f55f8d;
}
.footer_right a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50px;
  color: white;
  font-size: 14px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
}
.footer_right a:hover {
  background-color: #f55f8d;
}

element.style {
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
.backToTop {
  width: 50px;
  height: 50px;
  background: #f55f8d;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: white;
  transition: 0.2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;
}
